@import "./variables";

* {
    font-family: "Open Sans", sans-serif;
}

.padding-small {
    padding: $padding-small;
}

.padding-medium {
    padding: $padding-medium;
}

.padding-large {
    padding: $padding-large;
}
