---
import SocialList from "@/components/SocialList.astro";
import PostPreview from "@/components/blog/PostPreview.astro";
import PageLayout from "@/layouts/Base.astro";
import { twMerge } from "tailwind-merge";
import { getAllPosts, sortMDByDate } from "@/utils";

const experience = [
    {
        company: "Merlin Cloud",
        title: "Senior Software Developer",
        duration: "February 2024 - Present",
        description: `A senior full stack developer utilising modern JavaScript technologies and frameworks to design and develop bespoke interactive solutions. Leading a team of developers and designers to provide solutions that meet the needs of our customers.`,
        skills: [
            "devicon-typescript-plain",
            "devicon-javascript-plain",
            "devicon-mongodb-plain",
            "devicon-postgresql-plain",
            "devicon-docker-plain-wordmark",
            "devicon-react-original",
            "devicon-git-plain",
            "devicon-graphql-plain",
            "devicon-vitejs-plain",
            "devicon-nextjs-original-wordmark",
            "devicon-tailwindcss-original",
            "devicon-materialui-plain",
            'devicon-github-original'
        ],
        points: [
            "Full stack development leading a team of designers and developers to create bespoke applications and modern dashboards for clients.",
            "Leading transformation to upgrade internal tooling to a modern development stack, resulting in a reduction of development time, reduced error rate, and improved developer experience.",
            "Management of new and existing projects utilising agile methodologies including code reviews, pair programming, and bi-monthly deployments.",
        ],
    },
    {
        company: "Sky Ltd.",
        title: "Software Developer",
        duration: "September 2020 - January 2024",
        description: `Part of the in-life software development team, helping to develop and release software updates and improvements to over 5.7 million Sky/Now broadband devices.`,
        skills: [
            "devicon-c-plain",
            "devicon-embeddedc-plain",
            "devicon-python-plain",
            "devicon-splunk-original-wordmark",
            "devicon-bash-plain",
            "devicon-jenkins-line",
            "devicon-yaml-plain",
            "devicon-jira-plain",
        ],
        points: [
            "Maintaining broadband products for millions of customers across the UK, whilst improving the onboard telemetry application to provide richer information for data analysis teams",
            "First point of contact for cross department collaborations between the development and data teams to ensure both parties are aware of any updates and to resolve any issues",
            "Responsible for creating new development pipelines, improving our unit test setup, and allowing automation of internal documentation across multiple products",
            "Leader of new associate onboarding, teaching C, Git, and related development skills to new graduates",
        ],
    },
    {
        company: "Element Softworks",
        title: "Full Stack Developer",
        duration: "June 2018 - September 2019",
        description: `Full-stack JavaScript developer working on a variety of client projects using Node, React, React Native, MongoDB, and GCP.`,
        skills: [
            "devicon-javascript-plain",
            "devicon-mongodb-plain",
            "devicon-react-original",
            "devicon-graphql-plain",
            "devicon-git-plain",
            "devicon-express-original",
            "devicon-reactrouter-plain",
            "devicon-reactnavigation-original",
            "devicon-github-original",
            "devicon-googlecloud-plain",
            "devicon-sass-original"
        ],
        points: [
            "Utilising agile methodologies and development sprints to complete large development tasks and provide continuous revisions/updates that clients could interact with and present",
            "Implementing new technologies such as React Native and GraphQL into existing products to improve client-side performance and provide a native mobile experience",
        ],
    },
    {
        company: "University of Lincoln",
        title: "ICT Associate Developer",
        duration: "December 2016 - June 2018",
        description: `Part of the student associate developer team, working on projects to assist students on and around campus.`,
        skills: [
            "devicon-html5-plain",
            "devicon-css3-plain",
            "devicon-json-plain",

        ],
        points: [
            "Member of the associate developer team building dynamic web applications to aid students in daily activities, using technologies such as HTML, CSS, Javascript and related libraries",
            "Onboarding of new student team members and assisting in their development",
        ],
    },
];
---

<PageLayout meta={{ title: "Home" }}>
    <section>
        <h1 class="title mb-6">Experience</h1>
    </section>
    {experience.map(job => (
    <section class="mt-8">
        <h2 class="title mb-2 text-xl">{job.title}</h2>
        <h2 class="subtitle mb-2 text-md font-bold">{job.company} | {job.duration}</h2>
        <dl class="flex items-center gap-x-3 py-3 max-w-52 sm:max-w-full flex-wrap">
            {
                job.skills?.map((icon) => (
                    <dt>
                        <span class="flex mb-2">
                            <i class={twMerge(["text-2xl", icon])} />
                        </span>
                    </dt>
                ))
            }
        </dl>
        <dl class="space-y-4">
                    <div class="flex flex-col gap-2 md:flex-row">
                        <ul class="list-disc ml-4">
                            {job.points.map((point, index) => (<li class="pb-2 leading-6">{point}</li>))}
                        </ul>
                    </div>
        </dl>
    </section>
    ))}

</PageLayout>
