---
import SocialList from "@/components/SocialList.astro";
import PostPreview from "@/components/blog/PostPreview.astro";
import PageLayout from "@/layouts/Base.astro";
import { twMerge } from "tailwind-merge";
import { getAllPosts, sortMDByDate } from "@/utils";

const MAX_POSTS = 10;
const allPosts = await getAllPosts();
const allPostsByDate = sortMDByDate(allPosts).slice(0, MAX_POSTS);

type TechList_T = {
    icon: string;
    desc: string;
    href?: string;
};

const cactusTech: TechList_T[] = [
    {
        icon: "devicon-c-plain",
        desc: "C Lang",
    },
    {
        icon: "devicon-embeddedc-plain",
        desc: "Embedded C Programming",
    },
    {
        icon: "devicon-splunk-original-wordmark text-4xl",
        desc: "Data Platform",
    },
    {
        icon: "devicon-python-plain",
        desc: "Python",
    },
    {
        icon: "devicon-typescript-plain",
        desc: "TypeScript",
    },
    {
        icon: "devicon-react-original",
        desc: "React",
    },
    {
        icon: "devicon-javascript-plain",
        desc: "JavaScript",
    },
    {
        icon: "devicon-bash-plain",
        desc: "Bash Language",
    },
    {
        icon: "devicon-postgresql-plain",
        desc: "PostgreSQL",
    },
    {
        icon: "devicon-railway-plain",
        desc: "Railway",
    },
];
---

<PageLayout meta={{ title: "Home" }}>
    <section>
        <h1 class="title mb-6">Hello, I'm Ryan</h1>
        <p class="mb-4">
            A full-stack developer based in Essex, England. I've previously worked as an embedded software engineer with
            Sky, developing and maintaining broadband products used by over 6 million customers.
        </p>
        <p class="mb-4">
            I'm currently leading a team at <a
                href="https://merlincloud.ai/"
                class="underline underline-offset-4 dark:decoration-slate-300 decoration-gray-800"
                target="_blank">Merlin Cloud</a
            >, developing software to assist retailers in deploying and analysing international marketing campaigns.
        </p>
        <p class="mb-4">
            During my free time I like to build sideprojects that occasionally see the light of day, take a look at my <a
                href="/projects"
                class="underline underline-offset-4 dark:decoration-slate-300 decoration-gray-800"
                target="_blank">projects</a
            > page for more. Away from the screen, I'm a somewhat competent snowboarder, and dog owner 🏂 🐶
        </p>
        <SocialList />
    </section>
    <section class="mt-16">
        <h2 class="title mb-4 text-xl">Technologies</h2>
        <p class="mb-4">
            Here's a few of the languages and technologies I have professional experience working with. I'm currently
            working with React, React Native (Expo), and TypeScript, but I've previouly used, C, Bash, Python, and other
            technologies at various companies.
        </p>
        <dl class="flex items-center gap-x-3 max-w-52 sm:max-w-full flex-wrap">
            {
                cactusTech.map(({ desc, icon }) => (
                    <dt>
                        <span class="flex">
                            <i aria-label={desc} class={twMerge(["text-2xl", icon])} />
                        </span>
                    </dt>
                ))
            }
        </dl>
    </section>
    <!-- <section aria-label="Blog post list" class="mt-16">
        <h2 class="title mb-4 text-xl">Posts</h2>
        <ul class="space-y-4">
            <li class="flex flex-col gap-x-2 sm:flex-row">
                <p>I have posts! They're just hidden in the drafts, sorry!</p>
            </li>
        </ul>
        <ul class="space-y-4">
            {
                allPostsByDate.map((p) => (
                    <li class="flex flex-col gap-x-2 sm:flex-row">
                        <PostPreview post={p} />
                    </li>
                ))
            }
        </ul>
    </section> -->
    <section class="mt-16">
        <h2 class="title mb-4 text-xl">Support</h2>
        <p class="mb-4">
            If you need assistance for any application I've developed, please contact me using the email button above!
        </p>
    </section>
</PageLayout>
