---
import { Image } from "astro:assets";
import appleImg from "@/assets/apple-badge.png";
import stepscapeImg from "@/assets/stepscape-img.jpeg";
import PageLayout from "@/layouts/Base.astro";
---

<PageLayout meta={{ title: "Stepscape" }}>
    <div class="max-w-7xl grid mx-auto grid-cols-1 md:grid-cols-2 gap-2">
        <section class="col-span-1">
            <section class="max-w-3xl">
                <h1 class="text-2xl font-bold mb-6 leading-tight text-garden-light dark:text-green-400">
                    Turn Your Daily Steps into a Thriving Garden!
                </h1>
                <p class="text-lg leading-relaxed text-gray-700 dark:text-gray-200 mb-8">
                    Every step you take helps your plants grow, making fitness feel rewarding in a whole new way. Set
                    your step goal, plant your seeds, and watch as your activity brings them to life!
                </p>
                <a
                    href="https://linktr.ee/stepscape"
                    class="bg-garden-light hover:bg-garden-dark text-white px-4 border border-white py-4 text-xl transition-colors duration-300"
                >
                    Start Growing Today!
                </a>
            </section>
            <div class="flex gap-8 flex-wrap mt-8">
                <div class="flex-1 min-w-[250px] max-w-[300px] p-6 bg-green-50 dark:bg-gray-800 rounded-2xl">
                    <h3
                        class="text-garden-light dark:text-green-400 text-xl font-semibold mb-4 flex flex-row items-center gap-x-2"
                    >
                        <span class="text-4xl mb-4 block">👣</span>
                        <span>Track your steps!</span>
                    </h3>
                    <p class="text-gray-600 dark:text-gray-300">
                        Connect with your fitness tracker and watch your progress grow
                    </p>
                </div>

                <div class="flex-1 min-w-[250px] max-w-[300px] p-6 bg-green-50 dark:bg-gray-800 rounded-2xl">
                    <h3
                        class="text-garden-light dark:text-green-400 text-xl font-semibold mb-4 flex flex-row items-center gap-x-2"
                    >
                        <span class="text-4xl mb-4 block">🌱</span>
                        <span>Plant Your Garden</span>
                    </h3>
                    <p class="text-gray-600 dark:text-gray-300">
                        Choose from various plants and watch them flourish with your activity
                    </p>
                </div>
                <div class="flex-1 min-w-[250px] max-w-[300px] p-6 bg-green-50 dark:bg-gray-800 rounded-2xl">
                    <h3
                        class="text-garden-light dark:text-green-400 text-xl font-semibold mb-4 flex flex-row items-center gap-x-2"
                    >
                        <span class="text-4xl mb-4 block">🎯</span>
                        <span>Achieve goals!</span>
                    </h3>
                    <p class="text-gray-600 dark:text-gray-300">
                        Choose from various plants and watch them flourish with your activity
                    </p>
                </div>
            </div>
        </section>
        <section class="col-span-1 gap-y-2 flex flex-col mx-auto">
            <Image alt="Stepscape example photo" class="w-full rounded-2xl" src={stepscapeImg} />
            <a href="https://apps.apple.com/us/app/step-tracker-game-stepscape/id6743495227" target="_blank">
                <Image alt="Apple download" class="max-w-[192px] rounded-xl text-center" src={appleImg} />
            </a>
            <div>
                <p>
                    <span>
                        Terms of service:
                        <a href="policies/stepscape-terms" target="_blank">Available here.</a>
                    </span>
                    <p>
                        <span>
                            Privacy policy:
                            <a href="policies/stepscape-privacy" target="_blank">Available here.</a>
                        </span>
                    </p>
                </p>
            </div>
        </section>
    </div>
    <div class="max-w-7xl grid mx-auto grid-cols-1 gap-2 mt-8">
        <section class="col-span-1 mt-8">
            <section class="max-w-3xl">
                <h1 class="text-lg font-bold mb-6 leading-tight text-garden-light dark:text-green-400">
                    Requesting Account Deletion
                </h1>
                <p class="leading-relaxed text-gray-700 dark:text-gray-200 mb-8">
                    If you'd like to delete your account, you can do so by clicking the <span class="text-red-600"
                        >&nbsp;Delete Account&nbsp;</span
                    > button in the app settings. The following account information may exist after account deletion, in
                    an inaccessible, unidentifiable state.
                    <ul class="list-disc">
                        <li>Where your steps were sourced from.</li>
                        <li>A count of the steps you took each day.</li>
                        <li>The last seen state your plants were in.</li>
                        <li>Miscellaneous account information, such as push notification registration.</li>
                    </ul>
                </p>
                <p class="leading-relaxed text-gray-700 dark:text-gray-200 mb-8 mt-8">
                    Email us at stepscape@impey.dev and we will respond to your request as soon as possible, thank you
                    for using Stepscape!
                </p>
            </section>
        </section>
    </div>
</PageLayout>
